<div class="message" date="{id: message.id}">
  <div class="upper-message">
    <div class="upper-message__user-name">
      <%= message.user.name %>
    </div>
    <div class="upper-message__date">
      <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
  <div class="lower-message">
    <% if message.content.present? %>
      <p class="lower-message__content">
        <%= message.content %>
      </p>
    <% end %>
    <%= image_tag message.image.url, class: 'lower-message__image' if message.image.present? %>
  </div>
</div>