= render 'shared/side_bar'
%div.main
  %div.main__header
    %div.main__header--group-name
      test-group
    %p.main__header--members
      Members: test-user
    %a.main__header--button
      Edit
  %div.main__contents
    %div.main__content
      %div.main__content--user-name
        test-user
        %span.main__content--date<>
          2019/02/13(Wed) 17:50:36
      %div.main__content--message
        こんにちは！
    %div.main__content
      %div.main__content--user-name
        test-user
        %span.main__content--date<>
          2019/02/13(Wed) 17:50:42
      %div.main__content--message
        さようなら！
  %form.main__form
    %input.main__form--message{type: "text", placeholder: "type a message"}
      %label.main__form--image.upload-label{for: "upload-icon"}
        %i.fa.fa-picture-o
        %input.file_field{type: "file", id: "upload-icon"}
    %input.main__form--button{type: "submit", value: "Send"}