.chat {
  float: right;
  height: 100vh;
  width: calc(100vw - 300px);
  .header {
    background-color: $white;
    box-sizing: border-box;
    width: calc(100vw - 300px);
    height: 100px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 5;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        display: flex;
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      a {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

  .messages {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 146px 40px 90px;
    height: 100vh;
    width: calc(100vw - 300px);
    overflow-y: scroll;
    position: sticky;
    bottom: 90px;
    left: 300px;
    z-index: 0;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        margin-bottom: 40px;
        &__content {
          color: $black;
          font-size: 14px;
        }
        &__image {
          width: 200px;
          height: 200px;
          object-fit: contain;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    bottom: 0;
    left: 300px;
    z-index: 5;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}