.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
  }
}